{% extends 'base.html' %}
{% block content %}
    <h4>Go to the predict page to make a prediction</h4>
    <div class="instructions">
        <h4>Instructions are as follows</h4>
        <ul>
            <li>Search Wikipedia for the plot of the movie for which you want to predict the genre/s</li>
            <li>The plot usually exists in the "Plot" section of the Wikipedia page for any movie</li>
            <li>Copy the entire plot onto your clipboard</li>
            <li>Go to the predict page on this site, and paste in the plot you copied</li>
            <li>Click on the predict button to make a prediction</li>
        </ul>
    </div>
{% endblock content %}